In [1]:
#import neccessary packages

import pandas as pd

In [6]:
pwd

'C:\\Users\\lizba\\Desktop\\DataViz\\homework\\pandas-challenge\\PyCitySchools'

In [8]:
# load student file
students = "Resources/students_complete.csv"

# Create DataFrame

students_df = pd.read_csv(students)

# show head of DataFrame

students_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [ ]:
# load school file, assign variable to file name

schools = "../homework/Resources/schools_complete.csv"

# convert into DF

school_df = pd.read_csv(schools)

# show head of DF

school_df.head()

In [ ]:
# merge school_df and students_df to create new dataframe

combined_df = pd.merge(school_df, students_df, on="school_name")
combined_df.head(1)

In [ ]:
# creating high level district over view

# finding unique number of schools

num_schools = combined_df["school_name"].nunique()
num_schools

In [ ]:
# finding average of math scores
average_math_score = combined_df["math_score"].mean()
average_math_score

In [ ]:
# finding average of reading score
average_reading = combined_df["reading_score"].mean()
average_reading

In [ ]:
# find unique number of students

num_students = combined_df["student_name"].count()
num_students

In [ ]:
# finding average of reading score

average_reading = combined_df["reading_score"].mean()
average_reading

In [ ]:
# find unique number of students

num_students = combined_df["student_name"].count()
num_students

In [ ]:
# finding sum of the budget

budget = combined_df["budget"].unique()
total_budget = budget.sum()

total_budget

In [ ]:
#finding average of reading score

average_reading = combined_df["reading_score"].mean()
average_reading

In [ ]:
# finding average of math scores

average_math_score = combined_df["math_score"].mean()
average_math_score

In [ ]:
#  craete new dataframe to aggregate passing math scores

only_passing_math = combined_df.loc[(combined_df["math_score"]> 69)]
only_passing_math.head(3)

In [ ]:
# perform calculation on dataframe to find the % of students passing math
only_passing_math["math_score"].count()

percent_passing_math = (only_passing_math["math_score"].count()/
                        combined_df["student_name"].count() * 100)
percent_passing_math

In [ ]:
# new dataframe to aggregate passing reading scores

only_passing_reading = combined_df.loc[(combined_df["reading_score"]> 69)]
only_passing_reading.head(3)

In [ ]:
# perform calculation on dataframe to find % of students passing reading

only_passing_reading["reading_score"].count()

percent_passing_reading = (only_passing_reading["reading_score"].count()/
                        combined_df["student_name"].count() * 100)

percent_passing_reading

In [ ]:

# find overall passing rate

overall_passing_rate = ((percent_passing_reading) + (percent_passing_math)) / 2

overall_passing_rate

## District Summary

In [ ]:
# create new district summery table from above info

Sum_DF =pd.DataFrame({"Total Schools": [num_schools],
 "Total Budget": [total_budget],
  "Average Math Score": [average_math_score],
  "Average Reading Score": [average_reading],
   "% Passing Math" :[percent_passing_math],
  "% Passing Reading" :[percent_passing_reading],
  "Overall Passing Rate" :[overall_passing_rate]
 })

Sum_DF

# map to clean up formatting

Sum_DF["Total Budget"] = Sum_DF["Total Budget"].map("{:,}".format)
Sum_DF["Average Math Score"] = Sum_DF["Average Math Score"].map("{:.2f}".format)
Sum_DF["Average Reading Score"] = Sum_DF["Average Reading Score"].map("{:.2f}".format)
Sum_DF["% Passing Math"] = Sum_DF["% Passing Math"].map("% {:.2f}".format)
Sum_DF["% Passing Reading"] = Sum_DF["% Passing Reading"].map("% {:.2f}".format)
Sum_DF["Overall Passing Rate"] = Sum_DF["Overall Passing Rate"].map("% {:.2f}".format)
Sum_DF.head()



#file_df["avg_cost"] = file_df["avg_cost"].map("${:.2f}".format)
#file_df["population"] = file_df["population"].map("{:,}".format)
#file_df["other"] = file_df["other"].map("{:.2f}".format)
#file_df.head()

# District Summary

In [ ]:
Sum_DF

In [ ]:
# using school_df to create next dataframe
school_df.head()

In [ ]:
# performing calculation on schools_df to find per student budget value

Per_stud_bud = school_df["budget"]/school_df["size"]
Per_stud_bud

In [ ]:
# creating new column in school_df to show budget per student

school_df['per_student'] = school_df['budget']/school_df['size']
school_df.head(2)

In [ ]:
# performing calculation to find average math score

aver_math_score = combined_df.groupby(['school_name'])['math_score'].mean()

print(aver_math_score)

In [ ]:
# creating new df to show average math score

new_math_df = combined_df.groupby('school_name')[['math_score']].mean()
new_math_df.head()

In [ ]:
# merging new df with prevoius school_df adding average math score

combo_w_math = pd.merge(school_df, new_math_df, on="school_name")
combo_w_math.tail(1)

In [ ]:
# craeting new df to show average reading score

new_reading_df = combined_df.groupby('school_name')[['reading_score']].mean()
new_reading_df.head(2)

In [ ]:
# merging new df with reading average with prevoius school_df

combo_w_reading = pd.merge(combo_w_math, new_reading_df, on="school_name")
combo_w_reading.head(15)

# CLEAN UP TABLE AND FORMATT

In [ ]:
# generate new df to count unique students passing math

with_passing_math = combined_df.loc[(combined_df["math_score"] > 69)] 
with_passing_math.head()

In [ ]:
# calculating unique number of students passing math from df and assigning to new variable
M_S_counts = with_passing_math["school_name"].value_counts()
M_S_counts

In [ ]:
# making previous ready to manipulate

school_name = school_df["school_name"]
school_name

In [ ]:
# pass_math_counts counts the number of students in each school that passed math. Creating new DF to show school matching with passing math count.

pass_math_count = pd.DataFrame({"pass math count": M_S_counts})
pass_math_count.head(3)

#setting schools to be index

pass_math_count['school_name'] = pass_math_count.index
pass_math_count.head(1)

In [ ]:
# new df updated with passing math count included

updated_with_math_count = pd.merge(combo_w_reading, pass_math_count, on="school_name")
updated_with_math_count.head()

In [ ]:
# now do same steps as above to find number students passing reading
# create new df counting unique students who passed reading

with_passing_reading = combined_df.loc[(combined_df["reading_score"] > 69)] 
with_passing_reading.head()

In [ ]:
# find count of students passing reading

Read_counts = with_passing_reading["school_name"].value_counts()
Read_counts

In [ ]:
# creating new DF to show number of students passing reading per school

pass_reading_count = pd.DataFrame({"pass reading count": Read_counts})
pass_reading_count.head(3)

# setting index to school name
pass_reading_count['school_name'] = pass_reading_count.index

pass_reading_count.head(3)

In [ ]:
# create new DF adding the passing reading count per school

updated_with_reading_count = pd.merge(updated_with_math_count, pass_reading_count, on="school_name")
updated_with_reading_count.head()

In [ ]:
# perform calculation to find % of student who passed reading

updated_with_reading_count['% passing reading'] = updated_with_reading_count['pass reading count']/updated_with_reading_count["size"]

updated_with_reading_count.head(1)

In [ ]:

# same as above for passing math

updated_with_reading_count["% passing math"] = updated_with_reading_count["pass math count"] / updated_with_reading_count['size']
updated_with_reading_count.head(1)

In [ ]:
# find total passing

updated_with_reading_count ["Total Passing"] = (updated_with_reading_count['% passing math'] + updated_with_reading_count ['% passing reading']) / 2
updated_with_reading_count.head(1)

In [ ]:
# Rename columns and clean up the DF

District_DF = updated_with_reading_count
''
District_DF = District_DF.rename(columns={'school_name': 'School','type': 'Type', 'budget':'Budget','per_student': 'Budget Per Student', 'math_score': "Average Math Score",
                           
                           'reading_score': "Average Reading Score"})

# School Summary

In [ ]:
# cleaned up School Summary
District_DF

In [ ]:
District_DF.dtypes

# Top Performing Schools

In [ ]:
# finding top 5 performing schools based on overall passing

top_performers = District_DF.nlargest(5,"Total Passing")
top_performers

# Lowest Performing School

In [ ]:
# finding lowest performing schools

low_performers = District_DF.nsmallest(5, "Total Passing")
low_performers

In [ ]:
# look at students df again for next step

students_df.head()

In [ ]:
# use conditional statement find average math score for 9th Grade Students and peform groupby operation

grade_math9 = students_df.loc[(students_df['grade'] == '9th')]
grade_math9

grade_math9 = grade_math9.groupby("school_name")["math_score"].mean()

grade_math9.head()

In [ ]:
# create summarry table in DF form from above calculation

sum_table9 = pd.DataFrame({"9th Grade" : grade_math9 })

sum_table9

In [ ]:
# same as above for 10th Graders

grade_math10 = students_df.loc[(students_df['grade'] == '10th')]
grade_math10

grade_math10 = grade_math10.groupby("school_name")["math_score"].mean()

grade_math10.head()

In [ ]:
# craet DF from above Calc
    
sum_table10 = pd.DataFrame({"10th Grade" : grade_math10 })

sum_table10

In [ ]:
# Merge 9th and 10th Grade DF's

combo910 = pd.merge(sum_table9, sum_table10, on = "school_name")
combo910

In [ ]:
# same steps for 11th Grade

grade_math11 = students_df.loc[(students_df['grade'] == '11th')]
grade_math11

grade_math11 = grade_math11.groupby("school_name")["math_score"].mean()

grade_math11.head()

In [ ]:
# same for 11th

sum_table11 = pd.DataFrame({"11th Grade" : grade_math11})

sum_table11

In [ ]:
# same for 12th Grade
    
grade_math12 = students_df.loc[(students_df['grade'] == '12th')]
grade_math12

grade_math12 = grade_math12.groupby("school_name")["math_score"].mean()

grade_math12.head()

# create DF

sum_table12 = pd.DataFrame({"12th Grade" : grade_math12 })

sum_table12

In [ ]:
# merging 11th with 9th and 10th

combo91011 = pd.merge(combo910, sum_table11, on = "school_name")
combo91011

# Average Math Scores by Grade

In [ ]:
# last merge to combine grades 9th-12th
all_school_math_ave = pd.merge(combo91011, sum_table12, on = "school_name")
all_school_math_ave

In [ ]:
# repeat all steps for reading
# just 9th

reading9 = students_df.loc[(students_df['grade'] == '9th')]
grade_math9

reading9 = reading9.groupby("school_name")["reading_score"].mean()

reading9.head()

# turn groupby object into DF

reading_table9 = pd.DataFrame({"9th Grade" : reading9 })

reading_table9

In [ ]:
# just 10th

reading10 = students_df.loc[(students_df['grade'] == '10th')]
reading10

reading10 = reading10.groupby("school_name")["reading_score"].mean()

reading10.head()

# turn groupby object into DF

reading_table10 = pd.DataFrame({"10th" : reading10 })

reading_table10

In [ ]:

# merge 9th and 10th
reading_combo9_10 = pd.merge(reading9, reading10, on= "school_name")
reading_combo9_10

In [ ]:
# just 11th

reading11 = students_df.loc[(students_df['grade'] == '11th')]
reading10

reading11 = reading11.groupby("school_name")["reading_score"].mean()

reading11.head()

# turn groupby object into DF

reading_table11 = pd.DataFrame({"11th" : reading11 })

reading_table11

In [ ]:
# ave reading score for 12th

reading12 = students_df.loc[(students_df['grade'] == '12th')]
reading12

reading12 = reading12.groupby("school_name")["reading_score"].mean()

reading12.head()

# turn groupby object into DF

reading_table12 = pd.DataFrame({"12th" : reading12 })

reading_table12

In [ ]:
# combine 11th and 12th

combo1112 = pd.merge(reading11, reading12, on = "school_name")
combo1112

# Average Reading Scores by Grade

In [ ]:
# last merge to combine grades 9th-12th

total_reading = pd.merge(reading_combo9_10, combo1112, on = "school_name")
total_reading

total_reading.columns = ['9th Grade','10th Grade','11th Grade','12th Grade']
total_reading

# FORMATT ALL

In [ ]:
# looking at Distrct_DF for next steps

District_DF.head(1)

In [ ]:
# created new DF from Distrcit_Df to manipulate

Bins_Spending = District_DF
Bins_Spending

In [ ]:
# creating bins to aggragate peformance for schools spending diff. amounts in their budget per student

bins = [0, 585, 615, 645, 675]
student_spending = ["<$585", "$585-615", "$615-645", "$645-675"]

Bins_Spending["Spending"] = pd.cut(Bins_Spending["Budget Per Student"], bins, labels= student_spending )
Bins_Spending.head(1)

In [ ]:
# use groupby to show spending bins

by_spending = Bins_Spending.groupby("Spending").mean()
by_spending

# FORMATT ALL

# Scores by Spending

In [ ]:
# copying above DF and extracting columns needed
by_spending[["Average Math Score","Average Reading Score","% passing math", "% passing reading", "Total Passing"]].copy()

In [ ]:
# same steps as above but bins to show size of school

bins_size = District_DF
bins_size.head(1)

In [ ]:
# craeting bins

bins = [0, 1000, 2500, 5000]

school_size = ["<1000", "1000-2500", "2500-5000"]

bins_size["Size"] = pd.cut(bins_size["size"], bins, labels=school_size)
bins_size.head(1)

In [ ]:
# use groupby to show spending bins

by_size = bins_size.groupby("Size").mean()
by_size

# Scores by School Size

In [ ]:
# making copy and then extracting values needed

by_size[["Average Math Score","Average Reading Score","% passing math", "% passing reading", "Total Passing"]].copy()

In [ ]:
by_type = District_DF
by_type.head(1)

In [ ]:
# last one to figure out!
bins = [0, "Charter", "District"]



type = ["Charter","District"]

by_type["Type"] = pd.cut(by_type["Type"], bins, labels=type)
by_type.head(1)