In [ ]:
# import nessacary packages
import pandas as pd

In [ ]:
pwd

In [ ]:
# load student file

students = "../Resources/students_complete.csv"

# Create DataFrame

students_df = pd.read_csv(students)

# show head of DataFrame

students_df.head()

In [ ]:
# load school file, assign variable to file name

schools = "../Resources/schools_complete.csv"

# convert into DF

school_df = pd.read_csv(schools)

# show head of DF

school_df.tail()

In [ ]:
# merge schools and students data frame to create new dataframe

combined_df = pd.merge(school_df, students_df, on="school_name")
combined_df.tail(5)

In [ ]:
# creating high level district over view

# finding unique number of schools

num_schools = combined_df["school_name"].nunique()
num_schools



# finding average of math scores
average_math_score = combined_df["math_score"].mean()
average_math_score

#finding average of math scores

average_reading = combined_df["reading_score"].mean()
average_reading

# find unique number of students

num_students = combined_df["student_name"].count()
num_students

In [ ]:
# finding sum of the budget

budget = combined_df["budget"].unique()
total_budget = budget.sum()

total_budget

In [ ]:
#finding average of reading score

average_reading = combined_df["reading_score"].mean()
average_reading

In [ ]:
# finding average of math scores

average_math_score = combined_df["math_score"].mean()
average_math_score

In [ ]:
# new dataframe to aggregate passing  math scores

only_passing_math = combined_df.loc[(combined_df["math_score"]> 69)]
only_passing_math.head(3)

only_passing_math["math_score"].count()

percent_passing_math = (only_passing_math["math_score"].count()/
                        combined_df["student_name"].count())

percent_passing_math

In [ ]:
# new dataframe to aggregate passing reading scores

only_passing_reading = combined_df.loc[(combined_df["reading_score"]> 69)]
only_passing_reading.head(3)

only_passing_reading["reading_score"].count()

percent_passing_reading = (only_passing_reading["reading_score"].count()/
                        combined_df["student_name"].count())

percent_passing_reading

In [ ]:
overall_passing_rate = ((percent_passing_reading) + (percent_passing_math)) / 2

overall_passing_rate

In [ ]:
# creat new district summerry table from above info

Summery_DF_District =pd.DataFrame({"Total Schools": [num_schools],
 "Total Budget": [total_budget],
  "Average Math Score": [average_math_score],
  "Average Reading Score": [average_reading],
   "% Passing Math" :[percent_passing_math],
  "% Passing Reading" :[percent_passing_reading],
  "Overall Passing Rate" :[overall_passing_rate]
 })

Summery_DF_District

In [ ]:
names_of_schools = school_df["school_name"]
names_of_schools

In [ ]:
# create new dataframe to display school statistics
DF_to_combine = pd.DataFrame({
     "School ID" : [0],
     "Per Student Budget": [0],
     "Average Math Score": [0],
     "Average Reading Score":[0],
     " % Passing Math": [0],
     "% Passing Reading": [0],
     "Overall Passing Rate": [0],
     })

DF_to_combine

In [ ]:
# merge schools and students data frame to create new dataframe

school_stats_DF = pd.merge(school_df, DF_to_combine, on="School ID", how="left")
school_stats_DF.head()
# creating new table summerry for school aggregations

#Create an overview table that summarizes key metrics about each school, including:

In [ ]:
school_df.head()

In [ ]:
#### working calc to find a few values

#grouped_schools = combined_df.\
                  # groupby(['school_name','type','budget'])\
                   #[['math_score','reading_score']].mean()

In [ ]:
# performing calculation to find per student budget value

Per_stud_bud = school_df["budget"]/school_df["size"]
Per_stud_bud

In [ ]:
per_stud_bud_series = pd.Series(per_stud_bud)

In [ ]:
auth_series = pd.Series(author) 
article_series = pd.Series(article)

In [ ]:
# performing calculation to find average match score

aver_math_score = combined_df.groupby(['school_name'])['math_score'].mean()

In [ ]:
aver_math_score_series = pd.Series(aver_math_score)

In [ ]:
# for reading score

aver_read_score = combined_df.groupby(['school_name'])['reading_score'].mean()

In [ ]:
print(aver_read_score)

In [ ]:
aver_read_score_series = pd.Series(aver_read_score)

In [146]:
Per_stud_bud_series = pd.Series(Per_stud_bud)
aver_read_score_series = pd.Series(aver_read_score)
aver_math_score_series = pd.Series(aver_math_score)

stud_bud_ave = { 'Per Student Budget': Per_stud_bud, 'Average_Reading_Score': aver_read_score, 
                'Average_Math_Score': aver_math_score
                 } 


stud_bud_ave = pd.DataFrame(stud_bud_ave)

print(stud_bud_ave)

                       Per Student Budget  Average_Reading_Score  \
0                                   655.0                    NaN
1                                   639.0                    NaN
2                                   600.0                    NaN
3                                   652.0                    NaN
4                                   625.0                    NaN
5                                   578.0                    NaN
6                                   582.0                    NaN
7                                   628.0                    NaN
8                                   581.0                    NaN
9                                   609.0                    NaN
10                                  583.0                    NaN
11                                  637.0                    NaN
12                                  650.0                    NaN
13                                  644.0                    NaN
14                                  638.0                    NaN
Bailey High School                    NaN              81.033963
Cabrera High School                   NaN              83.975780
Figueroa High School                  NaN              81.158020
Ford High School                      NaN              80.746258
Griffin High School                   NaN              83.816757
Hernandez High School                 NaN              80.934412
Holden High School                    NaN              83.814988
Huang High School                     NaN              81.182722
Johnson High School                   NaN              80.966394
Pena High School                      NaN              84.044699
Rodriguez High School                 NaN              80.744686
Shelton High School                   NaN              83.725724
Thomas High School                    NaN              83.848930
Wilson High School                    NaN              83.989488
Wright High School                    NaN              83.955000

                       Average_Math_Score
0                                     NaN
1                                     NaN
2                                     NaN
3                                     NaN
4                                     NaN
5                                     NaN
6                                     NaN
7                                     NaN
8                                     NaN
9                                     NaN
10                                    NaN
11                                    NaN
12                                    NaN
13                                    NaN
14                                    NaN
Bailey High School              77.048432
Cabrera High School             83.061895
Figueroa High School            76.711767
Ford High School                77.102592
Griffin High School             83.351499
Hernandez High School           77.289752
Holden High School              83.803279
Huang High School               76.629414
Johnson High School             77.072464
Pena High School                83.839917
Rodriguez High School           76.842711
Shelton High School             83.359455
Thomas High School              83.418349
Wilson High School              83.274201
Wright High School              83.682222

In [ ]:
# finding passing reading 
passing_reading_tot = students_df.groupby([students_df['reading_score'] > 69])["school_name"].count()
passing_reading_tot

In [ ]:
only_passing_math = combined_df.loc[(combined_df["math_score"]> 69)]
only_passing_math.head(3)

In [137]:
stud_bud_ave = pd.DataFrame({
    "Per Student Budget":[Per_stud_bud],
    "Average Math Score":[aver_math_score],
    "Average Reading Score": [aver_read_score]})

stud_bud_ave

,Per Student Budget,Average Math Score,Average Reading Score
0,0 655.0 1 639.0 2 600.0 3 652....,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...