In [ ]:
# import nessacary packages
import pandas as pd

In [ ]:
pwd

In [ ]:
# load student file

students = "Resources/students_complete.csv"

# Create DataFrame

students_df = pd.read_csv(students)

# show head of DataFrame

students_df.head()

In [ ]:
# load school file, assign variable to file name

schools = "Resources/schools_complete.csv"

# convert into DF

school_df = pd.read_csv(schools)

# show head of DF

school_df.tail()

In [107]:
# merge schools and students data frame to create new dataframe

combined_df = pd.merge(school_df, students_df, on="school_name")
combined_df.tail(5)

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75

In [122]:
# creating high level district over view

# finding unique number of schools

num_schools = combined_df["school_name"].nunique()
num_schools



# finding average of math scores
average_math_score = combined_df["math_score"].mean()
average_math_score

#finding average of math scores

average_reading = combined_df["reading_score"].mean()
average_reading

# find unique number of students

num_students = combined_df["student_name"].count()
num_students

39170

In [130]:
# finding sum of the budget

budget = combined_df["budget"].unique()
total_budget = budget.sum()

total_budget

24649428

In [131]:
#finding average of reading score

average_reading = combined_df["reading_score"].mean()
average_reading

81.87784018381414

In [132]:
# finding average of math scores

average_math_score = combined_df["math_score"].mean()
average_math_score

78.98537145774827

In [143]:
# new dataframe to aggregate passing  math scores

only_passing_math = combined_df.loc[(combined_df["math_score"]> 69)]
only_passing_math.head(3)

only_passing_math["math_score"].count()

percent_passing_math = (only_passing_math["math_score"].count()/
                        combined_df["student_name"].count())

percent_passing_math

0.749808526933878

In [144]:
# new dataframe to aggregate passing reading scores

only_passing_reading = combined_df.loc[(combined_df["reading_score"]> 69)]
only_passing_reading.head(3)

only_passing_reading["reading_score"].count()

percent_passing_reading = (only_passing_reading["reading_score"].count()/
                        combined_df["student_name"].count())

percent_passing_reading

0.8580546336482001

In [155]:
overall_passing_rate = ((percent_passing_reading) + (percent_passing_math)) / 2

overall_passing_rate

0.8039315802910391

In [159]:
# creat new district summerry table from above info

Summery_DF_District =pd.DataFrame({"Total Schools": [num_schools],
 "Total Budget": [total_budget],
  "Average Math Score": [average_math_score],
  "Average Reading Score": [average_reading],
   "% Passing Math" :[percent_passing_math],
  "% Passing Reading" :[percent_passing_math],
  "Overall Passing Rate" :[overall_passing_rate]
 })

Summery_DF_District

,Total Schools,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,24649428,78.985371,81.87784,0.749809,0.749809,0.803932

In [ ]:
names_of_schools = school_df["school_name"]

In [ ]:
# create new dataframe to display school statistics
Summery_DF_Schools = pd.DataFrame({
     "School Name": [['grouped_schools,
     "School Type": [0],
     "Total School Budget": [0],
     "Per Student Budget": [0],
     "Average Math Score": [0],
     "Average Reading Score":[0],
     " % Passing Math": [0],
     "% Passing Reading": [0],
     "Overall Passing Rate": [0],
     })
    
Summery_DF_Schools

In [108]:
grouped_schools = combined_df.\
                   groupby(['school_name','type','budget'])\
                   [['math_score','reading_score']].mean()

In [109]:
grouped_schools

                                        math_score  reading_score
school_name           type     budget
Bailey High School    District 3124928   77.048432      81.033963
Cabrera High School   Charter  1081356   83.061895      83.975780
Figueroa High School  District 1884411   76.711767      81.158020
Ford High School      District 1763916   77.102592      80.746258
Griffin High School   Charter  917500    83.351499      83.816757
Hernandez High School District 3022020   77.289752      80.934412
Holden High School    Charter  248087    83.803279      83.814988
Huang High School     District 1910635   76.629414      81.182722
Johnson High School   District 3094650   77.072464      80.966394
Pena High School      Charter  585858    83.839917      84.044699
Rodriguez High School District 2547363   76.842711      80.744686
Shelton High School   Charter  1056600   83.359455      83.725724
Thomas High School    Charter  1043130   83.418349      83.848930
Wilson High School    Charter  1319574   83.274201      83.989488
Wright High School    Charter  1049400   83.682222      83.955000